body {
    font-family: 'Cinzel', serif;
    color: #D6C3A7;
    background-color: #29090F;
    margin: 0px;
}
h1 {
    font-family: 'Cinzel Decorative', cursive;
    color: #C29C54;
    text-align: center;
    font-size: 2.5em;
    font-weight: 200;
}

/*Top content*/

.topContentBox {
    display: flex;
    justify-content: space-around;
    max-width: 1920px;
    margin: 0 auto;
}
.topLogo {
    max-width: 1260px;
    flex-direction: column;
    margin: 20px 10px 10px;
}

/*Main content*/
.mainContent {
    display: flex;
    justify-content: center;
}
.mainContentContainer {
    max-width: 1260px;
    flex-direction: column;
}
.infoHeader {
    margin-top: 50px;
}
.infoText {
    font-size: 1.4em;
    text-align: center;
}
.selectHeader {
    font-size: 3em;
    margin-top: 70px;
}
.buttonContainer {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    text-align: center;
}
.buttonSelected {
    filter: brightness(50%);
}
.responsiveImage {
    width: 100%;
    height: auto;
    display: block;
    margin: 10px;
}
.logoImage {
    max-width: 730px;
    margin: 0;
}
.buttonImage {
    max-width: 330px;
}
.buttonUnselected {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.2s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.buttonUnselected:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    cursor: pointer;
}
#startErrorPara {
    font-size: 1.2em;
}
.playerSelectImg {
    max-width: 220px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: transform;
    transition-property: transform;
    margin: 5px;
}
.playerSelectImg:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    cursor: pointer;
}
.characterCard {
    margin: 10px;
}
.player1selected {
    border-style: solid;
    border-width: 5px;
    border-color: #003505;
    margin: 5px;
    border-radius: 10px;
}
.player2selected {
    border-style: solid;
    border-width: 5px;
    border-color: #8A0F00;
    margin: 5px;
    border-radius: 10px;
}
.characterContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 70px;
    text-align: center;
}
.charInfo {
    margin: 5px;
    font-size: 1em;
}

.footerText {
    text-align: center;
    margin: 0;
}


/*Game screen*/
.gameBox {
    display: flex;
    justify-content: center;
}
.outsideImageWrap {
    width: 1920px;
    height: 900px;
}
.insideImageWrap {
    width: 100%;
    height: 100%;
    position: relative;
}
.mapImage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index:1 !important;
}
#gameCanvas {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    z-index:20 !important;
}
.gameButtonCont {
    margin-top: 30px;
}
#nextPlayerPara {
    margin: 0;
    text-align: center;
    font-size: 1.3em;
}
.gameButtonImage {
    max-width: 250px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.2s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.gameButtonImage:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    cursor: pointer;
}